# Ignorar todos los ejecutables y carpetas .terraform en cualquier subcarpeta
**/.terraform/
**/*.exe
# Ignorar carpetas y archivos generados por Terraform
.terraform/
infra/terraform/**/.terraform/
*.tfstate
*.tfstate.backup
*.log
*.exe
HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### Venv ###
.venv/
venv/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Terraform ###
**/.terraform/
**/.terraform.lock.hcl
**/terraform.tfvars
*.tfstate
*.tfstate.backup
*.tfplan
.terraform.lock.hcl

### Setup Scripts ###
setup-info.txt
monitoring-pids*.txt
/tmp/monitoring-pids*.txt

### Kubernetes ###
kubeconfig
*.kubeconfig
